<?php

use $useClassName;

class $className extends $baseClassName
{

    public function up()
    {
        $this->schema->create('vaah_table', function(Illuminate\Database\Schema\Blueprint $table){
            // Auto-increment id
            $table->increments('id');
            $table->string('name')->nullable();
            $table->timestamps();
        });
    }

    //-----------------------------------------------------

    public function down()
    {
        $this->schema->drop('vaah_table');
    }

}
